body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2em;
    font-family: "Oswald", sans-serif;
    color: #191919ff;
}

p {
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
}

/*.sec_divider {
    width: 94%;
    background:  #c87137ff;
    height: 3px;
    margin: 2em auto;  
}*/

/*___WELCOME_SECTION_STYLE_RULES___*/
section#welcome_mobile {
    display: none;
}

section#welcome {
    min-height: 550px;
    padding: 4em 3em;
}

section#welcome h1 {
    font-size: 3.6em;
}

section#welcome p.welcome-text {
    font-size: 1.3em;
}

section#welcome p.quote {
    font-size: 1.2em;
    max-width: 700px;
}

/*___MEET_US_SECTION_STYLE_RULES___*/
section#meet_us {
    padding: 2em 6em;
}

section#meet_us .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
}

section#meet_us .parent .card {
    margin-bottom: 4em;
    width: 18em;
    padding: 1.8em;
}

section#meet_us .parent .card img {
    width: 15em;
}

section#meet_us .parent .card img.img_a, section#meet_us .parent .card img.img_e {
    height: 13.5em;
}

section#meet_us .parent .card h1 {
    font-size: 1.8em;
}

section#meet_us .parent .card p.quote {
    font-size: 1em;
}

/*__FOOTER__STYLE_RULES__*/
footer {
    font-family: "raleway", sans-serif;
    font-size: .7em;
    text-align: center;
    border-top: 1px solid #f4f4f4;
    padding: 1.5em 0;
    padding-bottom: 1em;
    width: 100%;
    background-color: whitesmoke;
}

footer span {
    padding: .5em;
    color: #191919ff;
}

footer a {
    color: olive;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}