body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Oswald", sans-serif;
    color: #191919ff;
}

p {
    font-family: "Raleway", sans-serif;
}

/*.sec_divider {
    width: 94%;
    background:  #c87137ff;
    height: 3px;
    margin: 2em auto;  
}*/

/*___WELCOME_SECTION_STYLE_RULES___*/
section#welcome {
    display: none;
}

section#welcome_mobile img {
    width: 100%;
}

/*___MEET_US_SECTION_STYLE_RULES___*/
section#meet_us {
    padding: 1em 4em;
}

section#meet_us .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#meet_us .parent .child {
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    width: 16em;
}

section#meet_us .parent .child img {
    width: 15em;
    filter: grayscale(70%);
    transition: transform 300ms, filter 300ms;
}

section#meet_us .parent .child img:hover {
    transform: scale(1.1);
    filter: contrast(100%);
}

section#meet_us .parent .child img.img_a, section#meet_us .parent .child img.img_e {
    height: 13em;
}

section#meet_us .parent .child a {
    color: #191919ff;
    text-decoration: none;
}

section#meet_us .parent .child a:hover {
    border-bottom: 2px solid #c87137ff;
    color:black;
}

section#meet_us .parent .child p.quote {
    padding: 0;
    margin: -.7em;
}

/*__FOOTER__STYLE_RULES__*/
footer {
    font-family: "raleway", sans-serif;
    font-size: .7em;
    text-align: center;
    border-top: 1px solid #f4f4f4;
    padding: 1.5em 0;
    padding-bottom: 1em;
    width: 100%;
    background-color: whitesmoke;
}

footer span {
    padding: .5em;
    color: #191919ff;
}

footer a {
    color: olive;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}